@import "tailwindcss";

@theme {
  --color-grey-950: #1D2026;
  --color-grey-500: #69707D;
  --color-grey-300: #C3CAD9;
  --color-grey-100: #E4E9F2;
  --color-grey-50: #F6F8FD;

  --color-orange-500: #FF7E1B;
  --color-orange-300: #FFAB6A;

  --font-base: "Kumbh Sans", sans-serif;
  --text-base: 16px;
  --leading-base: 26px;
  --leading-auto: 100%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Kumbh Sans", sans-serif;
}